{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <title>Schedule Animation</title>
</head>
<body>
    <div id="schedule_1">
        <script type="module">
            import { Schedule } from "{% static 'js/index.js' %}";
            import ModuleFactory from "{% static 'ModuleFileJS/schedule.js' %}";

            $(document).ready(function() {
                let schedule = new Schedule('schedule_1',ModuleFactory);
            });
        </script>
    </div>  
</body>
</html>
